# requirements.txt

# GUI
tkinter==8.6

# Audio processing
sounddevice==0.4.1

# Configurations
python-dotenv==0.15.0

# WebRTC
aiortc==1.5.0

# Audio and Video Frames
av==10.0.0

# Audio Output
pyaudio==0.2.13