.video-player {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: auto; */
    background-color: black;
    /* border: 7px solid var(--neutral); */
}

.video-player video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-player.waiting {
    border-color: var(--neutral)
}

.video-player.bad {
    border-color: var(--bad)
}

.video-player.good {
    border-color: var(--good)
}