.header {
    font-family: var(--heading-font);
    color: var(--off-white);
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.header h1 {
    font-size: min(80px,5vw);
    font-weight: 400;
    margin: 0;
}

.header img#logo {
    max-height: calc(15vh - 40px);
}

.waiting {
    color: var(--light-grey)
}

.bad {
    color: var(--bad)
}

.good {
    color: var(--good)
}