.header, .header * {
    cursor: default;
}

.header {
    position: relative;

    font-family: var(--heading-font);
    color: var(--off-white);
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.header h1 {
    position: absolute;
    /* Just looks better at top: 65% tbh */
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: min(80px,5vw);
    font-weight: 400;
    margin: 0;
}

.header img#logo {
    max-height: calc(15vh - 40px);
}