#go-back {
    position: absolute;
}

.session-content .code {
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: var(--off-white);
}

.session-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    /* align-items: center; */

    padding: 30px;
}

.session-content .top {
    position: relative;
    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.session-content .video-wrapper {
    position: relative;
    
    aspect-ratio: 16/9 !important;
    max-width: calc(calc(16 / 9) * 50vh);
    max-height: 50vh;
    flex: 1;
}

.session-content .vert-spacer {
    width: 5%;
}

.session-content .bottom {
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
    max-height: 40vh;
    width: 100%;
    max-width: calc(2 * (16 / 9) * 50vh);
    align-self: center;
}

.chat-wrapper {
    height: 100%;
    width: 100%;
    max-width: 375px;
}