.status-popup {
    position: fixed;
    z-index: 1000;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    padding: 7px;
    background-color: var(--bad);
    border: 7px solid black;
    
    font-family: var(--heading-font);
    font-size: min(7vh,4vw);
    color: black;
    text-align: center;
}