.status-widget, .status-widget * {
    cursor: default;
}

.status-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 2.5vh;
}

.status-widget img {
    height: 6vh;
}

.status-widget.waiting {
    color: var(--neutral);
}

.status-widget.bad {
    color: var(--bad);
}

.status-widget.good {
    color: var(--neutral);
}