

.start-content {
  width: 100vw;
  height: 100vh;
}

.start-content .codeForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
}

.start-content .codeForm input {
  height: 50px;
  width: 175px;
  margin: 5px;

  font-family: var(--heading-font);
  font-size: 32px;
  background-color: white;
  border-radius: 5px;
  color: grey;

  border: none;
  outline: none;
}

.start-content .codeForm input:active {
  border: none;
}

.start-content .codeForm button {
  width: 175x;
  height: 50px;

  margin: 5px;

  font-family: var(--heading-font);
  font-size: 20px;
  cursor: pointer;
}
