.rectangle-widget, .rectangle-widget * {
    cursor: default;
}

.rectangle-widget {
    position: relative;
}

.rectangle-widget div:not(.rectangle) {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: var(--heading-font);
    color: var(--off-white);
}

.rectangle {
    width: 250px;
    border: 7px solid var(--neutral);
    font-family: var(--heading-font);
    color: black;
    font-size: 32px;
    background-color: #D9D9D9;
    padding: 5px;
}

.rectangle.waiting {
    border-color: var(--neutral)
}

.rectangle.good {
    border-color: var(--good)
}

.rectangle.bad {
    border-color: var(--bad)
}
