@font-face {
    font-family: 'Aldrich';
    src: url('../assets/Aldrich-Regular.ttf');
}

body {
    background-color: #000023;
    margin: 40px;
}

h1, p {
    font-family: 'Aldrich', sans-serif;
    color: #ffffdc
}


.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.header #ucsd-img {
    width: 175px;
    height: 175px;
}

.header .title {
    font-size: 96px;
    font-weight: 400;
    margin: 0;
}

.header .waveforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header .waveforms p {
    color: #04E0Ca;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.header .waveforms #waveforms-img {
    width: 133px;
    height: auto;
}